
/* Media */

@media(max-width:1200px) {
    .contanier {
    }

    .hero .content h1 {
        font-size: 50px;
    }

    .hero .content p {
        font-size: 25px;
    }

    .hero .hero-img img {
        width: 380px;
    }

    .hero {
        padding-bottom: 40px;
    }

    .about .content h3 {
        font-size: 20px;
    }

    .about .content p {
        margin-bottom: 50px;
    }

    .about .about-img img {
        width: 380px;
    }

    .services .boxs .box h3 {
        font-size: 22px;
    }

    .contact form {
        width: 70%;
    }

}

@media(max-width:900px) {
    .hero .content h1 {
        font-size: 40px;
    }

    .hero .content p {
        font-size: 22px;
    }

    .hero .hero-img img {
        width: 340px;
    }

    header nav .nav-links a {
        margin-left: 40px;
    }

    .about .contanier {
        flex-direction: column;
        text-align: center;
    }

    .about .about-img img {
        width: 340px;
    }

    .about .about-img {
        margin-bottom: 40px;
    }

    .boxs .box {
        width: 45%;
        margin-bottom: 40px;
    }

    .contact form {
        width: 80%;
    }
}

@media(max-width:780px) {
    .hero .contanier {
        flex-direction: column-reverse;
    }
/*-------------------*/
    .hero .hero-img img {
        width: 380px;
    }

    .hero .content h1 {
        font-size: 50px;
    }

    .hero .content {
        margin-top: 40px;
        text-align: center;
    }

    .btn {
        padding: 12px 25px;
    }

    #btn-menu {
        display: block;
        color: #fff;
        font-size: 40px;

    }

    header nav .nav-links {
        position: absolute;
        top: -350px;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #1c1e22;
    }

    header nav .nav-links.active {
        top: 100%;
    }


    header nav .nav-links a {
        width: 100%;
        margin: auto;
        padding: 20px;
        text-align: center;
        font-size: 20px;
        border-bottom: 1px solid #444;
    }

    header nav .nav-links a.active,
    header nav .nav-links a:hover {
        background-color: #ffaa17;
        color: #1c1e22;
    }
}

@media(max-width:670px) {
    
    .hero .content h1 {
        font-size: 40px;
    }

    .hero .hero-img img {
        width: 320px;
    }

    .boxs {
        justify-content: center;

    }

    .boxs .box {
        width: 70%;
        animation: box 1s linear;
    }
    @keyframes box{
        0%{
            transform: translateX(-50px);
           
        }
        50%{
            transform: translateX(-10px);
           
        }
        100%{
            transform: translateX(0px);
        }
    }

    .contact form {
        width: 90%;
    }
}

@media(max-width:500px) {
   
/*-------------------*/
header{
    width: 400px;
}
header nav{
width: 350px;
}
.hero .hero-img{
    display: flex;
    justify-content: center;
}
.hero .hero-img img{
    width: 280px;
}
.hero .hero-img-bg{
width: 280px;

}
.about .about-img img{
    width: 90%;
}
.btn{
    padding: 10px 20px;
    font-size: 14px;
    width: 150px;
}
    .contact form {
        width: 90%;
        justify-content: center;

    }

    .contact form input {
        width: 100%;
    }
    .hero .content{
        text-align: center;
    }
    .hero .content h1{
        font-size: 30px;
    }
    .hero .content p{
        font-size: 18px;
    }
    .hero .content .btn{
        margin-top: 20px;
    }
    .hero .content .btn{
        margin-top: 20px;
    }
    .portfolio .boxs .box{
        width: 90%;
        height: 250px;
    }
    .sec-top h1{
        font-size: 25px;
    }
    .boxs .box{
        box-shadow: 1px 1px 10px #000;
    }


}
   
/*-------------------*/
