/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700;800&family=Rajdhani:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    transition: 0.3s;
}

*::selection {
    background-color: #ffaa17;
    color: #fff;
}

html {
    scroll-behavior: smooth;
}

.contanier {
    width: 85%;
    margin: auto;
}

.btn {
    padding: 15px 30px;
    color: #1c1e22;
    font-weight: 500;
    background-color: #ffaa17;
    border-radius: 10px;
    border: 1px solid #ffaa17;
}

.btn:hover {
    color: #ffaa17;
    background: #fff;
}

section {
    padding: 90px 0 40px;
}

.sec-top {
    text-align: center;
    margin-bottom: 70px;
}

.sec-top h1 {
    color: #1c1e22;
    font-size: 40px;
}

.sec-top h1 span {
    color: #ffaa17;
}

.boxs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.boxs .box {
    width: 30%;
}

/* start Header */

.logo{
    margin-left: 20px;
   width: 150px;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;
    z-index: 1000;

}

header.active {
    background-color: #1c1e22;
    border-bottom: 1px solid #8888884a;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

header nav .nav-links a {
    color: #fff;
    margin-left: 50px;
}

header nav .nav-links a:hover,
header nav .nav-links a.active {
    color: #ffaa17;
}

#btn-menu {
    display: none;
}
header .contanier{
margin-left: 0px;}

/* start Hero */

.hero {
    padding-top: 80px;
    background: url(img/hero-bg.png);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .contanier {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .content h4 {
    color: #ffaa17;
    font-size: 30px;
}

.hero .content h1 {
    color: #fff;
    font-size: 65px;
    margin: 20px 0 10px;
}

.hero .content p {
    color: #e4e4e4;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 70px;
}

.hero .content .btn {
    font-size: 18px;
}

.hero .hero-img img {
    width: 450px;
}

.hero-img {
    display: flex;
    justify-content: space-between;
}

.hero-img-bg {
    content: url(img/bg111.png);
    position: absolute;
    z-index: 0;
    animation: bg-animation 2s forwards;


}

.hero-myimg {
    z-index: 100;
    position: relative;
   
    
    border-radius: 50%;
   
    animation: hero-img-animation 2s forwards;

}
@keyframes hero-img-animation {
    0%{
        transform: translateY(100px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes bg-animation {
    0% {

        scale: 0%;
        opacity: 0;
    }
    50% {
        transform: translateY(10px);


    }

    75% {
        scale: 125%;
        opacity: 1;

    }

    100% {
        transform: translateY(150px);
    }
}


/* start about */

.about {
    padding: 90px 0 50px;
}

.about .contanier {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    
}

.about .about-img img {
  width: 450px;
  height: 450px;
  border-radius: 10px;
  object-fit:fill;
  object-position: center;
}

.about .content {
    margin-left: 30px;
}

.about .content h1 {
    color: #1c1e22;
    font-size: 45px;
}

.about .content h1 span {
    color: #ffaa17;
}

.about .content h3 {
    color: #1c1e22;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
}

.about .content p {
    color: #444;
    line-height: 1.8;
    margin-bottom: 70px;
    line-height: 2;
}

/* start Services */

.services {
    background-color: #f0f4f9;
    text-align: center;
}

.services .boxs .box {
    background-color: #fff;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px 0px rgba(128, 112, 22, 0.2);
    position: relative;
    top: 0;
}

.services .boxs .box:hover {
    top: -25px;
}

.services .boxs .box i {
    color: #ffaa17;
    font-size: 50px;
    margin-bottom: 20px;
}

.services .boxs .box h3 {
    color: #1c1e22;
    font-size: 24px;
    margin-bottom: 20px;
}

.services .boxs .box p {
    color: #444;
    margin-bottom: 50px;
}

/* start Portfolio */
.portfolio .boxs .box {
    width: 30%;
    height: 300px;
    margin-bottom: 50px;
    position: relative;
    overflow: hidden;
}

.portfolio .boxs .box img {
    width: 100%;
    height: 100%;
   
}

.portfolio .boxs .box:hover img {
    transform: scale(1.2);
    rotate: -4deg;
    transition: 0.6s ease-out;
}

.portfolio .boxs .box .box-hover {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #111111b9;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
    opacity: 0;
}

.portfolio .boxs .box:hover .box-hover {
    opacity: 1;
}

.portfolio .boxs .box .box-hover span {
    color: #fff;
    font-size: 25px;
}

/* start Contact */

.contact {
    background: #f0f4f9;
}

.contact form {
    width: 60%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact form input {
    width: 48%;
    font-size: 18px;
    padding: 15px 10px;
    outline: none;
    border: 1px solid rgba(128, 112, 22, 0.3);
    margin-bottom: 20px;
    border-radius: 10px;
}
.country{
    width: 100%;
    padding: 15px 10px;
    outline: none;
    border: 1px solid rgba(128, 112, 22, 0.3);
    margin-bottom: 20px;
    border-radius: 10px;
}
.country option{
    display: flex;
    align-items: center;
}
.country option i{
    margin-left: 10px;
    font-size: 20px;
    color: #ffaa17;
}

.contact form textarea {
    border: 1px solid rgba(128, 112, 22, 0.3);
    outline: none;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
}

.contact form textarea:focus,
.contact form input:focus {
    border-color: #ffaa17;
}

.contact form button {
    margin: 40px auto 0;
    cursor: pointer;
}


/* popup */

.contener_popup{
    background-color: rgba(0, 0, 0, 0.795);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    display: none;
}
.contener_popup.active{
    display: flex;
}
.popup{
background-color: white;
padding: 20px;
border-radius: 5px;
width: 400px;
height: 150px;
animation: popup 0.5s ease-in-out;
position: relative;

}
.close{background-color: red;
color: white;
border: none;
outline: none;
cursor: pointer;
padding: 5px 10px;

}
.popup_foter{
    position: absolute;
    bottom: 2px;
    right: 5px;
}
.btn1{
    background-color: blue;
    color: white;
    padding: 5px 10px;
    border: none;
    outline: none;
    cursor: pointer;
}
.whatsapp-support{
    display: block;

    
    padding: 10px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    left: 10px;
    z-index: 1000;
    margin-bottom: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.whatsapp-support .fa-brands {
    color: hsl(120, 85%, 46%);
    font-size: 45px;
    cursor: pointer;
    margin-bottom: 50px;
    border: none;
    background: none;
    outline: none;
position: absolute;
left: 10px;
}
.whatsapp-support:hover{
    background-color: #1c1e22;
    border-radius: 50%;
}
footer{
    background-color: #1c1e22;
    padding: 10px 0;
    color: #fff;
    font-size: 14px;
}
@keyframes popup{

50%{transform: scale(1);}
75%{transform: scale(1.5);}
100%{transform: scale(1);}



}
